@charset "utf-8";

@import "reset.css";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

@font-face {
   font-family: "hanaL";
   src: url("../font/Hana2-Light.ttf");
}
@font-face {
   font-family: "hanaM";
   src: url("../font/Hana2-Medium.ttf");
}
@font-face {
   font-family: "hanaR";
   src: url("../font/Hana2-Regular.ttf");
}
@font-face {
   font-family: "hanaB";
   src: url("../font/Hana2-Bold.ttf");
}
@font-face {
   font-family: "hanaH";
   src: url("../font/Hana2-Heavy.ttf");
}

/* 
색상
메인 폰트색상 : #4D4D4D

메인 빨간색 : #D60033
메인 청록색 : #008D8F
밝은 청록색 : #5ECCC6

배경 노랑 : #FCF7E0
박스 노랑 : #FDFBEF
*/

body {
   font-family: "Noto Sans KR", sans-serif;
   color: #4d4d4d;
   background-color: #fcf7e0;
   letter-spacing: 0.3px;
   -ms-user-select: none;
   -moz-user-select: -moz-none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   user-select: none;
}

body::-webkit-scrollbar {
   width: 10px;
   height: 10px;
   background: #fff;
}

body::-webkit-scrollbar-thumb {
   border-radius: 4px;
   background-color: #999;
}

body::-webkit-scrollbar-thumb:hover {
   background: #666;
}

body::-webkit-scrollbar-track {
   background: #fcf7e0;
}

body {
   scrollbar-3dlight-color: #fcf7e0;
   scrollbar-arrow-color: #999;
   scrollbar-base-color: #fcf7e0;
   scrollbar-face-color: #999;
   scrollbar-track-color: #fcf7e0;
   scrollbar-darkshadow-color: #fcf7e0;
   scrollbar-highlight-color: #fcf7e0;
   scrollbar-shadow-color: #fcf7e0;
}

h1,
h2,
h3,
h4,
h5 {
   font-family: "hanaB";
   letter-spacing: 0;
}

a:hover {
   transition: 0.3s ease-in-out;
   color: #008d8f;
}

.cont-box {
   text-align: center;
   background-color: #fdfbef;
   border-radius: 40px;
   padding: 2rem;
   overflow: hidden;
}
.cont-box2 {
   margin: 0 auto;
   text-align: center;
   background-color: rgba(255, 255, 255, 0.7);
   border-radius: 40px;
   max-width: 900px;
   min-height: 600px;
   padding: 2rem;
}

section.section {
   position: relative;
   background-image: url(../img/bak-img.png);
   background-repeat: no-repeat;
   background-position: right center;
   background-size: 60% 100%;
}

section.section .sub-tit {
   text-align: center;
   padding: 3rem 0;
}
section.section .sub-tit h2 {
   font-size: 2.6rem;
   color: #008d8f;
   padding-bottom: 1.6rem;
}
section.section .sub-tit p {
   font-size: 1.1rem;
   line-height: 1.4em;
   font-weight: 400;
}
section.section .sub-tit p b,
section.section .t-area p b {
   display: inline;
}
section.section .sub-tit p span {
   display: block;
   padding: 0;
}
.green-btn {
   display: inline-block;
   width: 400px;
   margin: 0 auto;
   padding: 0.8rem 0 1rem;
   font-size: 1.2rem;
   color: white;
   font-weight: 600;
   background-color: #008d8f;
   border-radius: 50px;
   box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
}
.green-btn:hover {
   color: white;
}
.mo-img,
.mo-dotted {
   display: none;
}

/* ====================================================================================================== 
================================================== nav =================================================
========================================================================================================= */

nav.menu {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 76px;
   background-color: #5eccc6;
   z-index: 97;
}

.fp-viewing-p0 #menu {
   opacity: 0;
   visibility: hidden;
}
.fp-viewing-p1 #menu,
.fp-viewing-p2 #menu,
.fp-viewing-p3 #menu,
.fp-viewing-p4 #menu,
.fp-viewing-p5 #menu,
.fp-viewing-p6 #menu {
   opacity: 1;
   transition: 1s ease-in-out;
}

.fp-viewing-p1 #menu li:nth-child(1) a,
.fp-viewing-p2 #menu li:nth-child(1) a {
   color: #008d8f;
   font-weight: 600;
   background-color: white;
   border-radius: 30px;
}
.fp-viewing-p3 #menu li:nth-child(2) a,
.fp-viewing-p4 #menu li:nth-child(2) a {
   color: #008d8f;
   font-weight: 600;
   background-color: white;
   border-radius: 30px;
}
.fp-viewing-p5 #menu li:nth-child(3) a,
.fp-viewing-p6 #menu li:nth-child(3) a,
.fp-viewing-p7 #menu li:nth-child(3) a {
   color: #008d8f;
   font-weight: 600;
   background-color: white;
   border-radius: 30px;
}

nav.menu .mo-navi,
.mo-navi-view {
   display: none;
}
nav.menu .container {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: center;
}
nav.menu a.logo img {
   display: block;
   height: 60px;
   margin: 7px 0;
}
nav.menu ul {
   width: 70%;
   padding-left: 10%;
}
nav.menu ul li {
   display: inline-block;
}
nav.menu ul li a {
   padding: 0.4rem 1.3rem 0.5rem;
   font-size: 1.1rem;
   color: white;
}
nav.menu .user-area {
   display: flex;
   flex-flow: row nowrap;
   justify-content: center;
   align-items: center;
}
nav.menu .user-area * {
   font-size: 1rem;
   color: white;
   font-weight: 600;
   margin-right: 3px;
   letter-spacing: -1px;
}

.popup {
   position: fixed;
   z-index: 99;
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.5);
   display: none;
   padding: 1rem;
}
.popup .request-wrap {
   position: relative;
   display: flex;
   flex-flow: column nowrap;
   justify-content: flex-start;
   align-items: center;
   padding: 2rem;
   background-color: white;
   border-radius: 20px;
   max-width: 1000px;
   min-height: 600px;
   margin: 0 auto;
}
.popup .preopen-wrap {
   position: relative;
   display: flex;
   flex-flow: column nowrap;
   justify-content: flex-start;
   align-items: center;
   padding: 0;
   border-radius: 20px;
   max-width: 650px;
   margin: 6rem auto 0;
}
.popup .preopen-wrap:after{
   display: block;
   padding-bottom: 100%;
}
.popup .close {
   position: absolute;
   right: 3%;
   top: 3%;
   display: block;
   width: 40px;
   height: 40px;
   cursor: pointer;
}
.popup .close img {
   width: 100%;
}
/* 모든 팝업 이미지 처리 시 아래 삭제 */

/*
.popup.request h3 {
   font-size: 2rem;
   line-height: 1.2em;
   padding: 2rem 0;
}
.popup.request .delete-me {
   width: 100%;
   height: 50vh;
   background-color: #999;
}
.popup.request a.tel-num {
   padding: 2rem;
   font-size: 1.2rem;
   font-weight: 600;
}
*/

/* ====================================================================================================== 
================================================== main =================================================
========================================================================================================= */
section.sec0 {
   padding-top: 0;
}
section.sec0 > * {
   display: flex;
   flex-flow: column nowrap;
}

section.sec0 .mo-img-area {
   display: none;
}
section.sec0 .img-area {
   display: block;
}

section.sec0 .logo-area {
   height: 15%;
   text-align: right;
   padding: 6rem 0 1rem;
}
section.sec0 .logo-area img {
   padding-right: 1rem;
}
section.sec0 .logo-area img:nth-child(1) {
   width: 110px;
   height: 20px;
}
section.sec0 .logo-area img:nth-child(2) {
   width: 140px;
   height: 28px;
}

section.sec0 .cont-area {
   height: 75%;
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: center;
}
section.sec0 .text-area {
   min-width: 370px;
}
section.sec0 .text-area h2 {
   font-size: 1.6rem;
   padding-bottom: 2rem;
}
section.sec0 .text-area h1 {
   font-size: 4rem;
   line-height: 1.2em;
   padding-bottom: 1.6rem;
}
section.sec0 .text-area h1 span.color1 {
   color: #4d4d4d;
}
section.sec0 .text-area h1 span.color2 {
   color: #d60033;
}
section.sec0 .text-area h1 span.color3 {
   color: #3b8587;
}
section.sec0 .text-area p {
   font-size: 1.2rem;
   line-height: 1.4em;
   font-weight: 400;
   /* padding-bottom: 8rem; */
   padding-bottom: 2rem;
}
section.sec0 .text-area b {
   display: block;
   font-size: 1.3rem;
   padding-bottom: 2rem;
}
section.sec0 .text-area .btn-wrap {
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-start;
   align-items: center;
}
section.sec0 .text-area .btn-wrap a.btn {
   display: flex;
   flex-flow: row nowrap;
   justify-content: center;
   align-items: center;
   padding: 1rem 1.4rem;
   border-radius: 6px;
   margin-right: 1rem;
}
section.sec0 .text-area .btn-wrap a.btn1 {
   background-color: #d60033;
}
section.sec0 .text-area .btn-wrap a.btn2 {
   background-color: #008d8f;
}
section.sec0 .text-area .btn-wrap a.btn span {
   font-family: "hanaB";
   color: white;
   padding-right: 2rem;
   font-size: 1.1rem;
   line-height: 1.1em;
}
section.sec0 .img-area {
   display: flex;
   flex-flow: row nowrap;
}

section.sec0 .img-area img {
   width: 50%;
   height: auto;
}
section.sec0 .img-area img:nth-child(1) {
   margin-bottom: 25%;
}
section.sec0 .img-area img:nth-child(2) {
   margin-top: 25%;
}

section.sec0 .more-area {
   position: relative;
   z-index: 10;
   height: 10%;
   padding: 0.5rem;
   background-color: #5eccc6;
   display: flex;
   flex-flow: column nowrap;
   justify-content: center;
   align-items: center;
}

section.sec0 .more-area p {
   color: white;
   font-weight: 500;
   padding-bottom: 0.5rem;
}
section.sec0 .more-area i {
   display: block;
   padding-top: 4px;
}

/* ====================================================================================================== 
================================================== sec1 =================================================
========================================================================================================= */

section.sec1 p > * {
   display: block;
   text-align: center;
   letter-spacing: 0;
}
section.sec1 p span {
   font-size: 1.1rem;
   padding-bottom: 0.5rem;
}
section.sec1 p b {
   font-size: 1.3rem;
   font-weight: 600;
}

section.sec1 .top-area,
section.sec1 .bottom-area {
   height: 50%;
}

section.sec1 .top-area ul {
   display: flex;
   flex-flow: row nowrap;
   justify-content: center;
   align-items: center;
}

section.sec1 .top-area ul li:nth-child(2n + 1) {
   border-radius: 20px;
   background-color: white;
   box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.1);
   height: 100%;
   padding: 2rem 1rem;
   padding-bottom: 0;
}
section.sec1 .top-area ul li:nth-child(2n + 1) img {
   display: block;
   width: 70%;
   margin: 0 auto;
}
section.sec1 .top-area ul li:nth-child(2n + 1) p {
   padding-bottom: 1rem;
}

section.sec1 .top-area ul li:nth-child(2n) {
   padding: 0 1rem;
}
section.sec1 .top-area ul li:nth-child(2n) img {
   width: 36px;
}

section.sec1 .bottom-area {
   padding-top: 2rem;
   justify-content: center;
   align-items: center;
}
section.sec1 .bottom-area i img {
   width: 36px;
   margin: 0 3rem;
}
section.sec1 .bottom-area p {
   padding-left: 10%;
}

/* ====================================================================================================== 
================================================== sec2 =================================================
========================================================================================================= */

section.sec2 .cont-area {
   width: 33.3333%;
}
section.sec2 .t-box {
   margin: 1rem;
   height: 40%;
   text-align: center;
   border-radius: 20px;
   background-color: white;
   box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.1);
   padding: 2rem 1rem;
}
section.sec2 .t-box h6 {
   font-weight: 600;
   font-size: 1.4rem;
   color: #008d8f;
   padding-bottom: 0.3rem;
}
section.sec2 .t-box p {
   font-size: 1rem;
   line-height: 1.6em;
}
section.sec2 .t-box p.sex2-sub-title {
   font-size: 0.8rem;
   color: #a0a0a0;
   padding-bottom: 0.7rem;
}

/* ====================================================================================================== 
================================================== sec3 =================================================
========================================================================================================= */

section.sec3 .cont-wrap {
   display: flex;
   flex-flow: row nowrap;
   justify-content: center;
   align-items: center;
   padding: 3rem;
}
section.sec3 .cont-wrap .cont {
   position: relative;
   margin: 0 -1.5%;
   background-color: white;
   border-radius: 20px;
}
section.sec3 .cont-wrap .cont h6 {
   width: 100%;
   height: 60px;
   backdrop-filter: blur(3px);
   background-color: rgba(0, 0, 0, 0.5);
   font-size: 1rem;
   text-align: center;
   padding-top: 2rem;
   color: white;
   font-weight: 600;
   border-radius: 20px 20px 0 0;
}

section.sec3 .cont::after {
   position: absolute;
   content: "";
}
section.sec3 .cont1 {
   background-image: url(../img/3.sec3-slide-bak1.png);
   background-size: cover;
   min-height: 280px;
   max-width: 350px;
   width: 30%;
}
section.sec3 .cont2 {
   background-image: url(../img/3.sec3-slide-bak2.png);
   background-size: cover;
   z-index: 1;
   min-height: 300px;
   max-width: 400px;
   width: 40%;
}
section.sec3 .cont3 {
   background-image: url(../img/3.sec3-slide-bak3.png);
   background-size: cover;
   min-height: 280px;
   max-width: 350px;
   width: 30%;
}
section.sec3 .cont1::after {
   background-image: url(../img/3.sec3-img4.png);
   background-repeat: no-repeat;
   background-size: 75% 75%;
   width: 260px;
   height: 150px;
   bottom: -20%;
   left: -30%;
}
section.sec3 .cont2::after {
   background-image: url(../img/3.sec3-img1.png);
   background-repeat: no-repeat;
   background-size: 80% 80%;
   width: 260px;
   height: 150px;
   bottom: -20%;
   right: -20%;
}
section.sec3 .cont3::after {
   background-image: url(../img/3.sec3-img3.png);
   background-repeat: no-repeat;
   background-size: 60% 60%;
   width: 260px;
   height: 150px;
   bottom: -28%;
   right: -45%;
}
section.sec3 .t-area {
   padding: 1rem 0 2rem;
}
section.sec3 .t-area p {
   text-align: center;
   font-size: 1.1rem;
   line-height: 1.3em;
}
section.sec3 .t-area p span {
   display: block;
   margin-top: 0.6rem;
   font-weight: 600;
   line-height: 1.5rem;
}

/* ====================================================================================================== 
================================================== sec4,5 ================================================
========================================================================================================= */

section.sec4 .cont-box .img-contain,
section.sec5 .cont-box .img-contain {
   display: block;
   position: relative;
   margin: 0.5%;
   width: 20%;
   border-radius: 20px;
   overflow: hidden;
}
section.sec4 .cont-box .img-contain:after,
section.sec5 .cont-box .img-contain:after {
   content: "";
   display: block;
   margin-bottom: 100%;
}
section.sec4 .cont-box img,
section.sec5 .cont-box img {
   position: absolute;
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center center;
}

section.sec5 .sub-tit p span {
   display: inline;
   font-size: 1.2rem;
   font-weight: 600;
}

section.sec4 .btn,
section.sec5 .btn {
   margin: 2rem auto 1rem;
}

/* ====================================================================================================== 
================================================== sec6 =================================================
========================================================================================================= */

section.sec6 ul.how-area {
   padding: 2rem 0;
}
section.sec6 ul.how-area li {
   position: relative;
   width: 23%;
   margin: 1%;
   padding: 2rem;
   padding-top: 4rem;
   border-radius: 20px;
   background-color: white;
   box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.1);
}
section.sec6 ul.how-area li::after {
   content: "";
   position: absolute;
   top: -22px;
   left: 50%;
   transform: translateX(-50%);
   width: 54px;
   height: 54px;
   background-color: #ffc72c;
   box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16);
   border-radius: 50%;
   font-size: 1.6rem;
   line-height: 54px;
   text-align: center;
   color: white;
   font-weight: 600;
}
section.sec6 ul.how-area li.cont1:after {
   content: "1";
}
section.sec6 ul.how-area li.cont2:after {
   content: "2";
}
section.sec6 ul.how-area li.cont3:after {
   content: "3";
}
section.sec6 ul.how-area li.cont4:after {
   content: "4";
}
section.sec6 ul.how-area li p {
   text-align: center;
   font-size: 1.1rem;
   line-height: 1.3em;
   padding-bottom: 2rem;
   font-weight: 600;
}
section.sec6 ul.how-area li p b {
   display: block;
}
section.sec6 .btn {
   margin: 1rem auto 2rem;
   font-weight: 400;
}
section.sec6 .btn b {
   color: white;
   font-weight: 600;
}

/* ====================================================================================================== 
================================================== 푸터 ================================================== 
========================================================================================================= */

footer.footer * {
   color: white;
}

/*
footer.footer .footer-wrap {
   height: 250px;
   background-color: #5eccc6;
}
*/
footer.footer .top-area {
   padding: 1rem 0;
}
footer.footer .top-area > * > * {
   padding-left: 0.5rem;
}
footer.footer a:hover {
   color: white;
}
/*
footer.footer p.copyright {
   text-align: center;
   padding-top: 7rem;
}
*/
footer.footer .footer-wrap {
   height: auto;
   background-color: #5eccc6;
}

footer.footer p.copyright {
   text-align: center;
   padding: 20px 0;
}
/* ====================================================================================================== 
========================================== 서브페이지 ========================================
========================================================================================================= */

.subpage section.section {
   padding: 6rem 0;
   min-height: 900px;
}

/* ====================================================================================================== 
========================================== 금융교육 ========================================
========================================================================================================= */

.financial nav.menu li:nth-child(4) a {
   color: #008d8f;
   font-weight: 600;
   background-color: white;
   border-radius: 30px;
}
section.financial-class ul.mov-area li {
   width: 30%;
   margin: 1%;
   max-width: 370px;
   position: relative;
   cursor: pointer;
}
section.financial-class ul.mov-area li img {
   border-radius: 20px;
}
section.financial-class p.mov-tit {
   height: 50px;
   padding-top: 1rem;
   font-size: 1.1rem;
}
section.financial-class p.mov-tit b {
   font-size: 1.2rem;
   font-weight: 600;
}
section.financial-class ul.mov-area li.unlock::after {
   content: url(../img/mov-lock.svg);
   position: absolute;
   left: 50%;
   top: 45%;
   transform: translate(-50%, -50%);
}
section.financial-class ul.mov-area li.unlock::before {
   content: "";
   width: 100%;
   height: calc(100% - 51px);
   position: absolute;
   left: 0;
   top: 0;
   border-radius: 20px;
   background-color: rgb(70, 70, 70, 0.5);
}
section.financial-class ul.mov-area li.finish {
   filter: grayscale(1);
}
section.financial-class ul.mov-area li.finish::after {
   content: "완료";
   width: 100px;
   height: 100px;
   position: absolute;
   left: 50%;
   top: 45%;
   transform: translate(-50%, -50%);
   border: 6px solid white;
   border-radius: 50%;
   font-size: 1.2rem;
   color: white;
   font-weight: 600;
   line-height: 4.5em;
}
section.financial-class ul.mov-area li.finish::before {
   content: "";
   width: 100%;
   height: calc(100% - 51px);
   position: absolute;
   left: 0;
   top: 0;
   border-radius: 20px;
   background-color: rgb(70, 70, 70, 0.5);
}
section.financial-class .finish-area {
   padding: 4rem 0;
}
section.financial-class .finish-area p {
   font-size: 1.1rem;
   line-height: 1.3em;
   padding-bottom: 1.6rem;
}

/* ====================================================================================================== 
========================================== 금융교육 영상팝업 ========================================
========================================================================================================= */

.financial-class .modal {
   display: none;
   position: fixed;
   z-index: 999;
   left: 0;
   top: 0;
   padding: 0;
   margin: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgba(0, 0, 0, 0.8);
}
.financial-class .modal-content {
   position: relative;
   margin: auto;
   padding: 0;
   width: 80%;
   max-width: 1700px;
   height: auto;
}
.financial-class .video-wrapper {
   position: relative;
   height: 0;
   padding-bottom: 56.25%; /* 16:9 */
   overflow: hidden;
}
.financial-class .video-wrapper iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

/* top-bar */
.financial-class .top-bar {
   height: 60px;
   background-color: #5eccc6;
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: center;
}
.financial-class .top-bar aside {
   padding: 0 1rem;
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-start;
   align-items: center;
}
.financial-class .top-bar aside i {
   display: block;
   height: 50px;
}
.financial-class .top-bar aside i img {
   height: 100%;
}
.financial-class .top-bar aside * {
   color: white;
   padding-right: 1rem;
}

/* mov-bar */
.financial-class .movie-bar {
   width: 100%;
   height: 60px;
   background-color: #929292;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
   box-sizing: border-box;
   z-index: 1000;
}

.financial-class .movie-controls {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100px;
}

.financial-class button {
   border: none;
   background-color: transparent;
   color: white;
   font-size: 20px;
   cursor: pointer;
   outline: none;
   padding: 5px;
}

.financial-class button:hover,
.financial-class #close-btn:hover {
   color: #5eccc6;
}

.financial-class button i,
.financial-class #close-btn i {
   font-size: inherit;
}

.financial-class .movie-progress {
   position: relative;
   width: calc(100% - 200px);
   height: 10px;
   background-color: white;
   border-radius: 5px;
   margin: 0 20px;
}

.financial-class #progress-bar {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   background-color: #008d8f;
   border-radius: 5px;
   width: 0%;
}
.financial-class #progress-bar::after {
   content: "";
   position: absolute;
   top: 0;
   left: calc(100% - 10px);
   z-index: 99;
   height: 10px;
   width: 16px;
   background-color: #4d4d4d;
}

.financial-class #close-btn {
   border: none;
   background-color: transparent;
   color: white;
   font-size: 30px;
   cursor: pointer;
   outline: none;
   padding: 5px;
}

section.financial-class .modal .top-bar,
section.financial-class .modal .movie-bar {
   display: flex;
}

/* ====================================================================================================== 
========================================== 로그인 ========================================
========================================================================================================= */

.login section.login-page {
   min-height: 100vh;
   position: relative;
   background-image: url(../img/login-bak.png);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: auto;
}
.login .green-btn {
   display: inline-block;
   width: 300px;
   margin: 0 auto;
   padding: 0.6rem 0 0.8rem;
}
.login .next {
   background-color: #a5a5a5;
}
.login .next.active {
   background-color: #008d8f;
}

.login .white-box {
   padding: 1rem;
   background: white;
   box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.16);
   border-radius: 10px;
}
.login .cont-box2 > p {
   text-align: left;
   max-width: 600px;
   margin: 0 auto;
   padding-top: 2rem;
   font-size: 1.1rem;
   line-height: 1.4em;
}
.login .cont-box2 > p b {
   font-weight: 600;
}
.login section.login-page form {
   text-align: left;
   max-width: 600px;
   margin: 0 auto;
   padding-top: 2rem;
}
.login section.sec-login form {
   max-width: 400px;
   text-align: left;
}
.login .agree-wrap p {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 1rem;
}

.login .agree-wrap p:last-child {
   margin-bottom: 0;
}

.login .agree-wrap p a {
   color: #999;
   text-decoration: underline;
   text-underline-position: under;
}
.login form label {
   letter-spacing: 0px;
}
.login form input::placeholder {
   color: #bcbcbc;
}
.login form input[type="text"],
.login form input[type="number"],
.login form input[type="date"],
.login form input[type="password"] {
   box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
   margin-bottom: 1rem;
   padding: 0.5rem 1rem;
   border: none;
   font-size: 1.1rem;
   border-radius: 10px;
}
.login form input[type="checkbox"] {
   margin-top: 1px;
   margin-right: 4px;
   width: 1.1rem;
   height: 1.1rem;
}
.login form input.green-btn {
   margin: 4rem auto 2rem;
}
.login form .tel-wrap {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: center;
}
.login form .tel-wrap div {
   width: 70%;
}
.login form .tel-wrap input {
   width: 100%;
}
.login form .tel-wrap .btn {
   width: 30%;
   min-width: 120px;
   margin-bottom: 1rem;
   margin-left: 0.5rem;
   background-color: #008d8f;
   color: white;
   font-weight: 600;
   box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
}
.login form.user-area label {
   color: #908d8d;
   margin-bottom: 0.5rem;
}
.login .service {
   margin-top: 1rem;
}
.form-check-input:checked {
   background-color: #008d8f;
   border-color: #008d8f;
}
.login .cont-box2 > p.findid-text {
   font-size: 1.4rem;
   text-align: center;
   margin-bottom: 2rem;
   letter-spacing: -0.5px;
}
.login .cont-box2 > p.findid-text b {
   font-size: 1.4rem;
}
.login .findid-box {
   margin: 0 auto;
   max-width: 400px;
   font-size: 1.6rem;
   font-weight: 600;
   text-align: center;
   padding: 3rem 0;
}
.login .btn-wrap {
   max-width: 600px;
   margin: 0 auto;
   padding-top: 3rem;
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   justify-content: space-around;
}
.login .btn-wrap .btn {
   width: 250px;
   margin: 0 6px;
}
.login .gotologin {
   margin: 6rem 0;
}

/* ====================================================================================================== 
================================================== 1920px =================================================
========================================================================================================= */
@media (min-width: 1919px) {
   .container,
   .container-lg,
   .container-md,
   .container-sm,
   .container-xl,
   .container-xxl {
      max-width: 1440px;
   }
}

/* ====================================================================================================== 
========================================== 1400px / container-xxl ========================================
========================================================================================================= */
@media (max-width: 1400px) {
   section.sec1 .bottom-area img {
      max-height: 200px;
   }
   .financial-class .modal-content {
      width: 100%;
   }
}

/* ====================================================================================================== 
========================================== 1200px / container-xl ========================================
========================================================================================================= */
@media (max-width: 1200px) {
   body {
      word-break: keep-all;
   }
   section.sec0 .text-area {
      min-width: unset;
      width: 100%;
      padding: 0 1rem;
   }
   section.sec0 .text-area h2 {
      font-size: 1.2rem;
      padding-bottom: 1rem;
   }
   section.sec0 .text-area h1 {
      font-size: 3rem;
      line-height: 1.1em;
      padding-bottom: 1rem;
   }
   section.sec0 .text-area p {
      font-size: 1rem;
      line-height: 1.1em;
      padding-bottom: 1rem;
   }
   section.sec0 .text-area b {
      font-size: 1.2rem;
      font-weight: 500;
   }
   section.sec0 .text-area .btn-wrap a.btn {
      padding: 0.6rem 1rem;
   }
   section.sec0 .text-area .btn-wrap a.btn span {
      padding-right: 1rem;
      font-size: 1rem;
   }
   section.sec1 .top-area ul li:nth-child(2n) {
      padding: 0 0.5rem;
   }
   section.sec1 p span {
      font-size: 1rem;
   }
   section.sec1 p b {
      font-size: 1.1rem;
   }
   section.sec1 .bottom-area p {
      padding-left: 1rem;
   }

   section.sec2 .t-box h6 {
      font-size: 1.3rem;
   }
   section.sec2 .t-box p {
      font-size: 0.9rem;
      line-height: 1.3em;
   }
   section.sec3 .cont-wrap .cont {
      margin: 0 -1.5%;
   }
}

/* ====================================================================================================== 
========================================== 1024px / container ========================================
========================================================================================================= */
@media (max-width: 1024px) {
}
/* ====================================================================================================== 
========================================== 992px / container-lg ========================================
========================================================================================================= */
@media (max-width: 992px) {
   nav.mainnav {
      display: none;
   }
   nav.menu .container {
      max-width: unset;
   }
   nav.menu {
      height: 60px;
   }
   nav.menu a.logo img {
      height: 50px;
      margin: 5px 0;
   }
   nav.menu .list,
   nav.menu .user-area {
      display: none;
   }
   nav.menu .mo-navi {
      display: block;
   }
   nav.menu .mo-navi img {
      width: 30px;
   }
   /* ============================================================================= */
   .mo-navi-view {
      z-index: 98;
      position: fixed;
      height: 100vh;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.16);
   }
   .mo-navi-view .nav-wrap {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      background-color: white;
      height: 100%;
      width: 80%;
      margin-left: 20%;
      font-size: 1.2rem;
   }
   .mo-navi-view .nav-wrap aside {
      border-bottom: 1px solid #999;
      width: 100%;
      padding: 1rem;
      margin-bottom: 1rem;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
   }
   .mo-navi-view .nav-wrap aside i * {
      display: inline-block;
   }
   .mo-navi-view .nav-wrap > a {
      font-size: 1.2rem;
      margin-bottom: 1rem;
      padding: 0 1rem;
      display: flex;
      flex-flow: row;
      align-items: center;
   }
   .mo-navi-view .nav-wrap aside i {
      display: flex;
      flex-flow: row;
      align-items: center;
      color: #008d8f;
      font-weight: 600;
   }
   .mo-navi-view .nav-wrap aside i p {
      color: #4d4d4d;
      margin-right: 4px;
   }
   .mo-navi-view .nav-wrap i {
      display: inline-block;
      margin-right: 4px;
   }
   .mo-navi-view .nav-wrap i.close {
      margin: 0;
   }
   .mo-navi-view .nav-wrap i img {
      height: 40px;
      margin-right: 4px;
   }
   /* ============================================================================= */
   .cont-box {
      background-color: unset;
   }
   .green-btn {
      width: 92%;
      margin: 0 auto;
      padding: 0.8rem 0 1rem;
   }
   .mo-dotted {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;
   }
   .mo-dotted li {
      margin-right: 1rem;
   }
   .mo-dotted li:last-child {
      margin: 0;
   }
   .mo-img {
      display: block;
      margin: 0 auto;
      width: 42px;
      padding: 2rem 0 1.5rem;
   }
   section.section {
      background-image: unset;
      padding: 4rem 0 0;
   }
   section.section .sub-tit {
      text-align: center;
      padding: 2rem 1rem 1rem;
   }
   /* ============================================================================= */

   section.sec0 {
      height: 100vh;
      padding: 0;
   }

   section.sec0 > div:nth-child(1) {
      flex-flow: row nowrap;
      align-items: flex-end;
      padding: 0 1.5rem;
      height: 10%;
      min-height: 50px;
   }
   section.sec0 > div:nth-child(2) {
      height: 80%;
   }
   section.sec0 > div:nth-child(3) {
      height: 10%;
      min-height: 80px;
   }

   section.sec0 .cont-area,
   section.sec0 .logo-area {
      height: unset;
   }
   section.sec0 {
      background-image: url(../img/[mo]bak-img.png);
   }
   section.sec0 .mo-img-area {
      display: block;
      margin: 1rem 0 0;
   }
   section.sec0 .mo-img-area > img {
      width: 100%;
      max-width: 500px;
   }
   section.sec0 .img-area {
      display: none;
   }
   section.sec0 .logo-area {
      text-align: left;
      padding: 1rem 0 2rem 1.5rem;
   }
   section.sec0 .cont-area {
      justify-content: center;
   }
   /* ============================================================================= */
   section.sec1 .top-area ul li {
      margin: 0.5rem 0;
   }
   section.sec1 .top-area ul li:nth-child(2n + 1) {
      width: 80%;
      max-width: 400px;
   }
   section.sec1 p span {
      font-size: 1.1rem;
   }
   section.sec1 p b {
      font-size: 1.3rem;
      font-weight: 600;
   }
   section.sec1 .bottom-area img {
      margin: 2rem 0;
   }
   section.sec1 .bottom-area p {
      padding: 0;
   }
   /* ============================================================================= */
   section.sec2 .cont-area {
      width: 100%;
   }
   section.sec2 .t-box {
      margin: 0 auto;
      width: 100%;
      max-width: 400px;
      padding: 2rem 0.5rem;
   }
   /* ============================================================================= */
   section.sec3 .cont-wrap {
      padding: 0;
   }
   section.sec3 .cont-wrap .cont {
      margin: 0 auto;
      width: 80%;
      max-width: 400px;
      min-height: unset;
      height: 300px;
      z-index: 0;
   }
   section.sec3 .cont-wrap .cont::after {
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 200px;
      height: 120px;
      background-size: 100%;
   }
   section.sec3 .cont-wrap .cont1::after,
   section.sec3 .cont-wrap .cont2::after,
   section.sec3 .cont-wrap .cont3::after {
      top: 70%;
      left: 60%;
   }
   section.sec3 .cont-wrap .cont h6 {
      padding: 1.4rem 0;
   }
   section.sec3 .t-area p {
      margin-top: 2rem;
   }
   /* ============================================================================= */

   section.sec4 .cont-box .img-contain,
   section.sec5 .cont-box .img-contain {
      width: 40%;
      margin: 1%;
   }
   /* ============================================================================= */
   section.sec6 ul.how-area li {
      width: 80%;
      max-width: 400px;
      margin: 1rem auto;
   }
   section.sec6 ul.how-area li::after {
      width: 42px;
      height: 42px;
      line-height: 42px;
      font-size: 1.3rem;
      left: 10%;
      transform: unset;
   }

   /* ============================================================================= */
   footer.footer {
      padding-top: 6rem;
   }
   footer.footer .top-area {
      padding: 1.5rem 0 0 0;
/*
      padding-left: 0.5rem;
      flex-flow: column-reverse !important;
*/
   }
/*
   footer.footer p.copyright {
      padding: 0rem 1rem;
      padding-top: 4rem;
      font-size: 1rem;
      line-height: 1.2em;
   }
*/
   footer.footer .top-area>div {
      padding-bottom: 0.5rem;
   }
   footer.footer .top-area>div>img {
      display: block;
      margin: 0 auto;
      padding: 0 0 0.5rem;
   }
   footer.footer .top-area a {
      font-size: 0.8rem;
      display: block;
   }
   footer.footer p.copyright {
      padding: 1rem 1rem;
      font-size: 0.5rem;
      line-height: 1.2em;
   }

   /* ============================================================================= */
   .subpage section.section {
      padding: 6rem 0 0;
   }
   section.financial-class ul.mov-area li {
      width: 100%;
      margin: 1rem auto;
   }

   section.financial-class .top-bar {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: rgb(70, 70, 70, 0.5);
      z-index: 99;
   }
   section.financial-class .top-bar i img {
      display: none;
   }
   section.financial-class .movie-bar {
      width: 100%;
      background-color: rgb(70, 70, 70, 0.5);
   }

   .financial-class .top-bar .mov-tit,
   .financial-class .top-bar .mov-tit *,
   .financial-class .top-bar aside i {
      font-size: 0.9rem;
      padding: 0;
      height: unset;
      color: white;
   }
   .financial-class .top-bar aside > * {
      font-size: 0.9rem;
      color: white;
      padding-left: 0.5rem;
   }

   /* ============================================================================= */
   .login section.login-page {
      background-image: none;
   }
   .cont-box2 {
      max-width: 600px;
      background-color: #fefcf6;
   }
   .login form .tel-wrap,
   .login .btn-wrap,
   .login .agree-wrap p {
      flex-flow: column nowrap;
   }
   .login .agree-wrap p {
      align-items: flex-start;
      justify-content: flex-start;
   }
   .login .agree-wrap p a {
      margin-left: 1rem;
   }
   .login .cont-box2 > p b {
      font-size: 1.2rem;
   }
   .login form .tel-wrap div {
      width: 100%;
   }
   .login form .tel-wrap .btn {
      margin: 1rem auto 2rem;
      width: 100%;
      max-width: 260px;
      border-radius: 50px;
      font-size: 1.2rem;
      padding: 0.4rem 0 0.6rem;
   }
   .login .btn-wrap .btn {
      margin-bottom: 1rem;
   }
   .login section.section .sub-tit {
      padding-bottom: 2rem;
   }
   .login .cont-box2 > p {
      padding: 0;
      padding-left: 0.5rem;
      margin-bottom: 2rem;
   }
   .cont-box2 {
      border-radius: 20px;
      padding: 2rem 1rem 4rem 1rem;
      min-height: unset;
   }
   .login section.login-page form {
      padding: 0;
   }
   .login form input[type="text"],
   .login form input[type="number"],
   .login form input[type="date"],
   .login form input[type="password"],
   .login .findid-box,
   .login .white-box {
      border-radius: 0;
   }
   .login .agree-wrap {
      padding: 0;
      background: unset;
      box-shadow: unset;
   }
   .login .child-agree {
      margin-top: 1rem;
   }
}

/* ====================================================================================================== 
========================================== 768px / container-md ========================================
========================================================================================================= */
@media (max-width: 768px) {
   .popup .request-wrap,
   .popup .preopen-wrap {
      margin: 8rem auto 0;
   }
   .popup .close {
      right: 10px;
      top: 10px;
      width: 30px;
      height: 30px;
   }
   .popup .close img {
      display: block;
      padding: 10%;
      margin: 0 auto;
   }
   .popup.request h3 {
      text-align: center;
      font-size: 1.6rem;
   }

   section.sec4 .cont-box .img-contain,
   section.sec5 .cont-box .img-contain {
      width: 48%;
   }
}

/* ====================================================================================================== 
========================================== 576px / container-sm ========================================
========================================================================================================= */
@media (max-width: 576px) {
   .green-btn,
   .login .green-btn {
      width: 100%;
   }
   section.section .sub-tit h2 {
      font-size: 2.2rem;
      line-height: 1.2em;
   }
   section.section .sub-tit h2 b {
      display: block;
   }
   section.section .sub-tit p {
      font-size: 1rem;
      line-height: 1.4em;
   }
   section.section .sub-tit p b,
   section.section .t-area p b{
      display: block;
   }
   section.section .sub-tit p span {
      display: inline;
   }
   section.sec0 .text-area h2 {
      font-size: 1.1rem;
   }
   section.sec0 .text-area h1 {
      font-size: 2.6rem;
   }
   section.sec1 p span {
      font-size: 0.9rem;
      padding-bottom: 0.5rem;
   }
   section.sec1 p b {
      font-size: 1.1rem;
      font-weight: 600;
   }
   section.sec2 .t-box p {
      font-size: 1rem;
   }
   section.sec3 .t-area p {
      font-size: 1rem;
   }
   section.sec3 .cont-wrap .cont {
      height: 200px;
   }
   section.sec3 .cont-wrap .cont::after {
      width: 180px;
      height: 110px;
      top: 55%
   }
   section.sec3 .cont-wrap .cont1::after {
      left: 50%;
   }
   section.sec3 .cont-wrap .cont2::after {
      left: 60%;
   }
   section.sec3 .cont-wrap .cont3::after {
      left: 45%;
   }

   section.sec6 ul.how-area {
      padding: 0;
   }
   section.sec6 ul.how-area li {
      width: 80%;
      padding: 1rem;
      padding-top: 2rem;
   }
   section.sec6 ul.how-area li p {
      font-size: 0.9rem;
      padding-bottom: 1rem;
   }
   section.sec6 ul.how-area li p b {
      display: inline;
   }
   section.sec6 ul.how-area li img {
      width: 70%;
   }
   section.sec6 .mo-img {
      padding: 0;
   }

   /* ============================================================================= */
   .login form input[type="text"],
   .login form input[type="number"],
   .login form input[type="date"],
   .login form input[type="password"] {
      font-size: 1rem;
      padding: 0.5rem;
   }
   .login form label {
      line-height: 1.3em;
   }
   .login .cont-box2 > p {
      font-size: 1rem;
   }
   .cont-box {
      padding: 1rem;
   }
}
/* ====================================================================================================== 
========================================== 400px / container- ========================================
========================================================================================================= */

@media (max-width: 400px) {
   section.sec2 .cont-area img {
      width: 80%;
      padding-bottom: 1rem;
   }
   section.sec1 .top-area ul li:nth-child(2n + 1),
   section.sec6 ul.how-area li,
   section.sec3 .cont-wrap .cont {
      width: 100%;
   }
   .green-btn,
   .login .green-btn {
      font-size: 1rem;
   }
}

@media (max-height: 800px) {
   section.sec0 > div:nth-child(1) {
      height: 10%;
      min-height: unset;
   }
   section.sec0 > div:nth-child(2) {
      height: 80%;
      min-height: unset;
   }
   section.sec0 > div:nth-child(3) {
      height: 10%;
      min-height: unset;
   }
   section.sec0 .more-area i {
      width: 24px;
   }
   section.sec0 .mo-img-area {
      margin: 0;
      margin-top: 1rem;
   }
   section.sec0 .mo-img-area > img {
      width: 100%;
      max-width: 240px;
   }
   section.sec0 .text-area h2,
   section.sec0 .text-area h1,
   section.sec0 .text-area p {
      line-height: 1em;
      padding-bottom: 1rem;
   }
   section.sec0 .text-area b {
      padding-bottom: 1.5rem;
   }
   section.sec0 .text-area .btn-wrap a.btn {
      padding: 0.4rem 0.6rem;
   }
   section.sec0 .text-area .btn-wrap a.btn span {
      font-size: 0.9rem;
   }
}

@media (max-width: 300px) {
   section.sec0 .text-area {
      padding: 0;
   }
   section.sec0 > * > div:nth-child(1) {
      padding: 1rem 0.5rem;
   }
   section.sec0 .text-area h2,
   section.sec0 .text-area h1,
   section.sec0 .text-area p,
   section.sec0 .text-area b {
      letter-spacing: -1px;
   }
}

@media screen and (orientation: portrait) {
   .financial-class .modal {
      width: 100%;
      height: 100vh;
   }
}
